@import '../../utils/styles/Colors.scss';
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 0px;
  margin-top: calc(64px / 2 - 30px / 2);
  margin-right: calc(64px / 2 - 30px / 2);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $def-text-color-2;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $def-text-color-2;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $def-tertiary-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $def-tertiary-color;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  display: flex;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0px;
  right: 0px;
}

@media screen and (max-width: 320px) {
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 200px !important;
  }
}
