@import '../../Colors';

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: $def-secondary-color;
  color: black;
  height: 64px;
}

.menuContainer {
  display: none;
}

.navLinksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $def-secondary-color;
  color: black;
}

.navLogoContainer {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navList {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-right: 5vmin;
}

.navListElement {
  padding: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navlink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  color: $def-neutral-color;
}

.navlinkActive {
  color: $def-text-color-2;
}

.iconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10vmin;

  & > :not(:last-child) {
    margin-right: 1.5rem;
  }
}

.iconElement {
  color: $def-text-color-2;
  transition: 300ms;

  &:hover {
    color: $def-text-color;
  }
}

@media screen and (max-width: 1200px) {
  .navLinksContainer {
    display: none;
  }

  .menuContainer {
    display: flex;
    justify-content: flex-end;
  }

  .navList {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 100%;
    margin-right: 5vmin;
    flex-direction: column;
  }

  .navListElement {
    padding: 15px;
    display: flex;
    align-items: center;
    height: 10vh;
  }

  .iconsContainer {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10vmin;

    & > :not(:last-child) {
      margin-right: 1.5em;
    }
  }

  .iconElement {
    color: $def-text-color-2;
    margin-bottom: 1.5em;
    transition: 300ms;
    &:hover {
      color: $def-text-color;
    }
  }
}
