@import '../../utils/styles/Dimensions.scss';

.mouseFollower {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 20000;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  pointer-events: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.6em;
  line-height: 0.8em;
  overflow: hidden;
}

@media screen and (max-width: $def-mobile-width) {
  .mouseFollower {
    display: none;
  }
}
