@import './utils/styles/Colors.scss';

:root {
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  line-height: 24px;
  font-weight: 400;

  overflow-x: hidden;

  color-scheme: light dark;
  color: $def-text-color;
  background-color: $def-primary-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0px;
  min-height: 100vh;
}
